{{ define "base_admin" }}
<!DOCTYPE html>
<html lang="es">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <title>{{ .Title }} | Peak Auth</title>

    <!-- Fuentes y CSS -->
    <link rel="stylesheet" href="{{ asset "/static/css/admin.css" }}">
    <link rel="stylesheet" href="{{ asset "/static/css/output.css" }}">
    <script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>

    <link rel="icon" type="image/png" href="{{ asset "/static/img/favicon.png" }}">

    <!-- Configuración y Lógica (Separada) -->
    <script src="{{ js "config.js" }}"></script>
    <script src="{{ js "common.js" }}"></script>
</head>

<body class="bg-pattern flex flex-col min-h-screen text-slate-900">
    {{ template "partials/nav_admin" . }}
    <main class="container mx-auto py-10 px-4 flex-grow">
        {{ block "content" . }}{{ end }}
    </main>
    {{ template "partials/footer_admin" . }}

    {{ block "scripts" . }}{{ end }}
</body>

</html>

{{ end }}
