# Base de datos
DB_USER=postgres
DB_PASSWORD=postgres
DB_HOST=localhost
DB_PORT=5432
DB_NAME=peak_auth

# Servidor
PORT=8080
ENV=development  # development | production
HOST=localhost

# JWT
JWT_PRIVATE_KEY_PATH=./jwt_private.pem
# O usar directamente el contenido
# JWT_PRIVATE_KEY="-----BEGIN PRIVATE KEY-----\n...\n-----END PRIVATE KEY-----"

# Email
RESEND_API_KEY=re_xxxxxxxxxxxx
EMAIL_PROVIDER=RESEND  # RESEND | CONSOLE
EMAIL_FROM=noreply@peakauth.com

# URLs
FRONTEND_URL=http://localhost:4200
VERIFY_URL=http://localhost:4200/auth/verify-email/%s
RESET_PASSWORD=http://localhost:4200/auth/reset-password/%s

# Setup inicial (opcional, genera uno automático si no se define)
# SETUP_TOKEN=XXX

# Modo release en producción
# GIN_MODE=release